<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
    <h1>Liste des espèces</h1>

    <f:flashMessages />

    <table class="table">
        <tr>
            <th>Nom scientifique</th>
            <th></th>
        </tr>
        <f:for each="{speciesList}" as="species">
            <tr>
                <td><span class="fst-italic">{species.genus} {species.species}</span> {species.author}</td>
                <td><f:link.action action="delete" arguments="{species: species}" class="btn btn-danger">Supprimer</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:render partial="Pagination" arguments="{paginator: paginator, pagination: pagination}" />

    <f:link.action action="new" class="btn btn-primary">Nouvelle espèce</f:link.action>
</f:section>
</html>
