<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
    <h1>Liste des écologies</h1>

    <f:flashMessages />

    <table class="table">
        <tr>
            <th>Nom</th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{ecologies}" as="ecology">
            <tr>
                <td>{ecology.name}</td>
                <td><f:link.action action="edit" arguments="{ecology: ecology}" class="btn btn-default">Modifier</f:link.action></td>
                <td><f:link.action action="delete" arguments="{ecology: ecology}" class="btn btn-danger">Supprimer</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:if condition="{paginator.NumberOfPages} > 1">
        <f:render partial="Pagination" arguments="{paginator: paginator, pagination: pagination}" />
    </f:if>

    <f:link.action action="new" class="btn btn-primary mt-4">Nouvelle écologie</f:link.action>
</f:section>
</html>
