<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="Content">
        <f:asset.script identifier="identifier89739237587" src="EXT:mycocarto/Resources/Public/JavaScript/jquery3.7.0.min.js" />
        <f:asset.script identifier="identifier87387587" src="https://api3.geo.admin.ch/loader.js?lang=en" />
        <f:asset.script identifier="identifier897329875" src="EXT:mycocarto/Resources/Public/JavaScript/show_map.js" />

        <h1>Carte de l'observation</h1>

        <f:flashMessages />

        <div id="map" class="map" data-latitude="{observation.latitude}" data-longitude="{observation.longitude}"></div>

    </f:section>
</html>
