<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="Content">
        <f:asset.script identifier="identifier87387587" src="https://api3.geo.admin.ch/loader.js?lang=en" />

        <f:asset.script identifier="identifier897329875">
            let layer = ga.layer.create('ch.swisstopo.pixelkarte-farbe');
            let map = new ga.Map({
                target: 'map',
                layers: [layer],
                view: new ol.View({
                    resolution: 5,
                    center: [<f:format.raw>{observation.latitude}</f:format.raw>, <f:format.raw>{observation.longitude}</f:format.raw>]
                })
            });
        </f:asset.script>

        <h1>Carte de l'observation</h1>

        <f:flashMessages />

        <div id="map" class="map"></div>

    </f:section>
    <f:debug>{_all}}</f:debug>
</html>
