<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:asset.css identifier="identifier3829465683" href="EXT:mycocarto/Resources/Public/Css/bootstrap-datepicker.css" />
    <f:asset.css identifier="identifier3829465683" href="EXT:mycocarto/Resources/Public/Css/jquery-ui.min.css" />
    <f:asset.script identifier="identifier89739237587" src="EXT:mycocarto/Resources/Public/JavaScript/jquery3.7.0.min.js" />
    <f:asset.script identifier="identifier36547652765" src="EXT:mycocarto/Resources/Public/JavaScript/bootstrap-datepicker.min.js" />
    <f:asset.script identifier="identifier8384684" src="EXT:mycocarto/Resources/Public/JavaScript/bootstrap-datepicker.fr.min.js" />
    <f:asset.script identifier="identifier8973923773647" src="EXT:mycocarto/Resources/Public/JavaScript/jquery-ui.min.js" />
    <f:asset.script identifier="identifier8384676" src="EXT:mycocarto/Resources/Public/JavaScript/species_autocomplete.js" />


    <label for="date" class="form-label">
        Date <span class="required">(requise)</span>
    </label><br />

    <f:form.textfield additionalAttributes="{data-provide: 'datepicker-inline', data-date-format: 'dd.mm.yyyy'}" property="date" id="date" class="form-control" value="{observation.date->f:format.date(format:'m.d.Y')}"></f:form.textfield><br />

    <label for="latitude" class="form-label">
        Latitude <span class="required">(requise)</span>
    </label><br />
    <f:form.textfield class="form-control" property="latitude" id="latitude" /><br />

    <label for="longitude" class="form-label">
        Longitude <span class="required">(requise)</span>
    </label><br />
    <f:form.textfield class="form-control" property="longitude" id="longitude" /><br />

    <label for="species" class="form-label">
        Espèce <span class="required">(requise)</span>
    </label><br />
    <!--
    <f:form.select class="form-control" property="species" id="species" options="{speciesList}" optionValueField="uid" optionLabelField="canonicalName" /><br />
    -->

    <div id="selected_species"><i>{observation.species.genus} {observation.species.species}</i> {observation.species.author}</div>
    <f:form.textfield class="form-control" id="autocomplete_species" placeholder="Chercher l'espèce..."/>
    <f:form.hidden class="form-control" property="species" id="species" /><br />


    <label for="ecology" class="form-label">
        Ecologie <span class="required">(requise)</span>
    </label><br />
    <f:form.select class="form-control" property="ecology" id="ecology" options="{ecologies}" optionValueField="uid" optionLabelField="name" /><br />

    <label for="trees" class="form-label">
      Arbres
    </label><br />
    <div class="form-check" id="trees">
      <f:for each="{trees}" as="tree" key="{tree.uid}">
        <f:form.checkbox class="form-check-input" multiple="1" property="trees" id="{tree.uid}" value="{tree.uid}"/>
        <label for="{tree.uid}" class="form-label">
          {tree.completeName}
        </label><br />
      </f:for>
    </div><br />

    <label for="user" class="form-label">
        Auteur <span class="required">(requise)</span>
    </label><br />
    <f:form.select class="form-control" property="user" id="user" options="{authors}" optionValueField="uid" optionLabelField="name" /><br />
</html>